version: '3.8'

services:
  db:
    image: postgres:13
    container_name: desafio_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qweasd
      POSTGRES_DB: desafio_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: desafio_backend
    ports:
      - '3001:3001'
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:qweasd@db:5432/desafio_db?schema=public
      JWT_SECRET: segredo_super_seguro
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: desafio_frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge